<h2>Update Book</h2>

<p *ngIf="message">{{ message }}</p>

<div *ngIf="books.length === 0">
  No books available.
</div>

<div *ngFor="let book of books">
  <h3>{{ book.title }}</h3>
  <p><b>Author:</b> {{ book.author }}</p>
  <p>{{ book.description }}</p>

  <button (click)="editBook(book)">Edit</button>
  <hr>
</div>

<div *ngIf="selectedBook">
  <h3>Edit Book</h3>

  <p>
    <label>Title:</label><br>
    <input [(ngModel)]="selectedBook.title" name="title">
  </p>

  <p>
    <label>Author:</label><br>
    <input [(ngModel)]="selectedBook.author" name="author">
  </p>

  <p>
    <label>Description:</label><br>
    <textarea [(ngModel)]="selectedBook.description" name="description" rows="5"></textarea>
  </p>

  <button (click)="updateBook()">Save</button>
</div>