<h2>Update Book</h2>

<div *ngFor="let book of books">
  <h3>{{ book.title }}</h3>
  <p><b>Author:</b> {{ book.author }}</p>
  <p>{{ book.description }}</p>

  <button (click)="editBook(book)">Edit</button>
  <hr>
</div>

<!-- EDIT FORM -->
<div *ngIf="selectedBook">
  <h3>Edit Book</h3>

  <input [(ngModel)]="selectedBook.title" placeholder="Title"><br>
  <input [(ngModel)]="selectedBook.author" placeholder="Author"><br>
  <textarea [(ngModel)]="selectedBook.description"></textarea><br>

  <button (click)="updateBook()">Save</button>
</div>